#naver-content-count {
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 12px;
    z-index: 5000;
    width: 100px;
    margin: 15px;
}

#naver-content-count th {
    padding: 0 3px;
    text-align: right;
}

#naver-content-count td {
    padding: 0 3px;
    text-align: left;
}